@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
:root{
	--color-titulos:#2750d0;
	--color-contenido:#333;
	--color-naranja:#ff9f06;
	--color-azul:#2750d0;
	--fondo-footer:#091f5b;
}
header{
	background-color: #fff;
}
footer{
	background-color: var(--fondo-footer);
	color: #acbad4;
	padding: 30px 0;
	text-align: center;
	font-size: 13px;
}

#hero {
color: #ff9f06;
background-image: url("../img/slide-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 15%;
	text-align: left;
	
	
	
	
}
#hero h1 {
	font-weight: bolder;
}

#services {
	
	padding: 20%;
	padding-top: 5%;
	text-align: center;
	
}

#services h2{
	padding-bottom: 5%;
	font-weight: bolder;
	color: #2750d0;
}
#services i{
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border: 1px solid #ddd;
	font-size: 60px;
	margin: 40px 0;
	color: var(--color-titulos);
	transition: all 0.5s ease-in-out;
}

#services article:nth-child(2) i{
	background-color: var(--color-naranja);
}

.bg-naranja{
	background-color: var(--color-naranja);
}

#services a{
	color: var(--color-titulos);
	font-weight: 800;
	text-decoration: none;
}

#services article:hover i{
	background-color: var(--color-naranja);
	transition: all 0.5s ease-in-out;
}

#services article:hover a{
	color: var(--color-naranja);
	text-decoration: underline;
	transition: all 0.5s ease-in-out;
}
#welcome {
	padding: 20%;
	padding-top: 5%;
	text-align: center;
}
#welcome h2{
	font-weight: bolder;
	color: #2750d0;
}


#welcome .img-fluid{
	width: 500px;
	align-content: center;
	padding-bottom: 80px;
	
}

#gallery {
	padding: 20%;
	padding-top: 5%;
	text-align: center;
		background-color: #2750d0; 
	padding: 20px 20px;
}
#gallery h2{
	font-weight: bolder;
	color: #2750d0;
}
#gallery .img-fluid{
	text-align: center;
}


#testimonials {
	padding: 20%;
	padding-top: 5%;
	text-align: center;
	
}

#testimonials h2{
	font-weight: bolder;
	color: #2750d0;
}

#clients {
	padding: 20%;
	padding-top: 5%;
	text-align: center;
}

#clients h2{
	font-weight: bolder;
	color: #2750d0;
	
}

